body{
	background-color: #ccc;
}
nav{
	background-color: black;
	color: white;
}
.checkbox, .radio {
    margin-top: 0px;
    margin-bottom: 0px;
}
.checkbox input[type="checkbox"] {
    cursor: pointer;
    z-index: 1;
    outline: none !important;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
}
.panel-border {
    border-radius: 3px;
}
.panel-border.panel-primary .panel-heading {
		border-color: #6cbbff !important;
		color: #484848 !important;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-border .panel-heading {
    background-color: #ffffff;
    border-top: 3px solid #3bafda !important;
    border-radius: 3px;
		border-bottom: 0;

}


.panel-border.panel-primary {
    border-color: rgba(174, 180, 185, 0.25);
}



#logo{
	margin: 10px 0 ;
}
#logo img{
	width: 200px;
}
.main{
	background-image: url('../img/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.offer h1{
	font-size: 5em;
    font-weight: 800;
}
.col.center{
  margin-top: auto;
  margin-bottom: auto;
  margin:0;
}

#form-select .selected div .row{
	margin-top: 20px;
}

#form-select .selected{
	margin-bottom: 20px;
}

.input-group-btn:first-child>.btn{
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
input[type=radio]:checked {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

input[type=checkbox] {
	padding-left: 35px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 30px;
	vertical-align: middle;
	cursor: pointer;
}
 /*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

 }

 /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    }

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
